.Container{
    /* border-top: 0.2rem solid black ; */
    border: 0.2rem solid black ;
    margin: 0.5rem ;
    padding: 1.5rem;
    padding-bottom:0rem;
    border-radius: 0.3rem;
    display: flex;
    gap: 1rem;
}   

.character{
    /* position: relative; */
    width: 21rem;
    height: 21rem;
    animation: characterIn 0.8s ease-in-out;
    /* margin-left: 0rem; */
    /* top:-1rem;    */
    
}

.childContainer{
    display: flex;
    flex-direction: column;
    
}

@keyframes characterIn {
    0%{
        /* scale: 0; */
        opacity: 0;
    }
    100%{
        /* scale: 1; */
        opacity: 1;
    }
}

@media only screen and (max-width:500px) {
   .Container{
    display: flex;
    max-height: 20rem;
    
    
   }
   .character{
    scale: 1.5;
    transform: translate(-0.5rem,2rem);
   }


}

@media only screen and (min-width :1000px){
    .character{
        min-width: 21rem;
    }

}